/* colores */

$color-base: #816afe;
$color-secundario: white;
$color-terciario: black;
$color-compras: #00C248;

$botones: (
    base: #816afe,
    comprar: #00c248,
);


/* sombras */

$box-shadow: 2px 2px 7px;
$box-shadow-efecto: 4px 4px 11px;
$box-shadow-carousel: 5px 5px 9px;
$box-shadow-animacion: 8px 8px 18px;

/* tamaño de fuente */

$font-titulo: 3rem;
$font-boton: 1.5rem;
$font-enlace: 1.25rem;

