/* Media Queries */

/* 0px a 425px */

@media screen and (max-width:425px) {

    /* INDEX */

    /* Header */

    .header {
        .header__nav {
            ul {
                li {
                    a {
                        font-size: 2.7rem;
                    }
                    a:hover {
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }

    /* Main */

    #carouselExampleCaptions {
        .carousel-inner {
            .carousel-item {
                div {
                    div {
                        width: 70vw;
                        height: 20%;
                        justify-content: space-between;
                        a {
                            height: 3rem;
                            .boton {
                                height: 100%;
                            }
                        }
                        
                    }
                }
            }
        }
    }

    /* Noticias */

    main {
        .terceraSeccion {
            .noticia {
                height: 300px;
                div {
                    height: 100%;
                }
            }
        }
    }

    /* Footer */

    .footer {
        .footer__enlace {
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    @include alto-ancho (7vh, 35vw);
                }
            }
        }
    }

    /* TIENDA */

    /* segundo menu */

    main {
        .segundoMenu {
            .listaSubMenu {
                li {
                    a {
                        font-size: $font-enlace;
                    }
                }
            }
        }
    }

    /* SOBRE NOSOTROS */

    /* Main */

    .sobreNosotros {
        .sobreNosotros__seccion {
            .sobreNosotros__seccion__contenedor {
                div {
                    height: 30vh;
                }
            }
        }
    }



}