/* Media Queries */

/* 0px a 380px */

@media screen and (max-width:380px) {

    /* INDEX */

    /* Header */

    .header {
        .header__nav {
            ul {
                li {
                    a {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }

    /* Main */

    #carouselExampleCaptions {
        .carousel-inner {
            .carousel-item {
                div {
                    h1 {
                        font-size: 2.25rem;
                        width: 90vw;
                        align-items: center;
                    }
                    p {
                        width: 75vw;
                    }
                }
            }
        }
    }

    /* Noticias index */

    main {
        .terceraSeccion {
            .noticia {
                @include alto-ancho(350px, 80vw);
            }
        }
    }

    /* Footer */

    .footer {
        .footer__enlace {
            ul {
                li {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    /* TIENDA */

    /* Segundo Menu */

    main {
        .segundoMenu {
            .listaSubMenu {
                li {
                    width: 32vw;
                }
            }
        }
    }

    /* NOTICIAS */

    .noticias {
        .noticias__seccion {
            .noticias__seccion__articulos {
                div {
                    width: 90vw;
                    margin-bottom: 10rem;
                    div {
                        width: 100%;
                        margin: 1rem auto;
                    }
                    h4 {
                        margin: 2rem auto;
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }

    /* SOBRE NOSOTROS */

    /* fondo */

    .sobreNosotros {
        .sobreNosotros__fondo {
            div {
                h1 {
                    width: 90vw;
                }
                p {
                    font-size: 0.9rem;
                    width: 90vw;
                }
            }
        }
    }

    /* Main */

    .sobreNosotros {
        .sobreNosotros__seccion {
            .sobreNosotros__seccion__contenedor {
                div {
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    /* CONTACTO */

    /* Fondo */

    .contacto {
        .contacto__fondo {
            div {
                p {
                    width: 90vw;
                    font-size: 2rem;
                }
            }
        }
        .contacto__seccion {
            width: 90vw;
            .contacto__seccion__formulario1,
            .contacto__seccion__formulario2 {
                border-radius: 30px;
            }
            .contacto__seccion__formulario2 {
                .form-group {
                    input,
                    textarea {
                        border-radius: 16px;
                    }
                }
            }
        }
    }

    /* TIENDA POPULARES */

     main {
        .seccionTiendaPopulares__juegos {
            @include alto-ancho(140vh, 100%);
            display: grid;
            grid-template-columns: repeat(12, 8.33333vw);
            grid-template-rows: repeat(28, 5vh);
            .seccionTiendaPopulares__juegos__portada {
                @include alto-ancho(285px, 190px);
                grid-column: 4/9;
                grid-row: 2/11;
                .boton {
                    height: 8vh;
                    width: 50vw;
                }
            }
            .seccionTiendaPopulares__juegos__info1,
            .seccionTiendaPopulares__juegos__info2 {
                .boton {
                    height: 8vh;
                    width: 50vw;
                }
            }
        }
    }

    /* TIENDA GENEROS */

    .tiendaGeneros {
        .tiendaGeneros__section {
            div {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

    /* TIENDA MARCAS */

    main {
        .seccionTiendaMarcas {
            .seccionTiendaMarcas__logo {
                width: 50vw; 
                img {
                    height: 7rem;
                    margin: 1rem auto;
                }
            }
        }
    }

   

    

}