/* Media Queries */

/* 0px a 425px */

@media screen and (max-width:425px) {

    /* INDEX */

    /* Header */

    .header {
        .header__nav {
            ul {
                li {
                    a {
                        font-size: 2.7rem;
                    }
                    a:hover {
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }

    /* Main */

    #carouselExampleCaptions {
        .carousel-inner {
            .carousel-item {
                div {
                    div {
                        width: 70vw;
                        height: 20%;
                        justify-content: space-between;
                        a {
                            height: 3rem;
                            .boton {
                                height: 100%;
                            }
                        }
                        
                    }
                }
            }
        }
    }

    /* Noticias */

    main {
        .terceraSeccion {
            .noticia {
                height: 300px;
                div {
                    height: 100%;
                }
            }
        }
    }

    /* Footer */

    .footer {
        .footer__enlace {
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    @include alto-ancho (7vh, 35vw);
                }
            }
        }
    }

    /* TIENDA */

    /* segundo menu */

    main {
        .segundoMenu {
            .listaSubMenu {
                li {
                    a {
                        font-size: $font-enlace - 0.2vh;
                    }
                }
            }
        }
    }

    /* SOBRE NOSOTROS */

    /* Main */

    .sobreNosotros {
        .sobreNosotros__seccion {
            .sobreNosotros__seccion__contenedor {
                div {
                    height: 30vh;
                }
            }
        }
    }

    /* TIENDA POPULARES*/

    main {
        .seccionTiendaPopulares__juegos {
            @include alto-ancho(140vh, 100%);
            display: grid;
            grid-template-columns: repeat(12, 8.33333vw);
            grid-template-rows: repeat(28, 5vh);
            .seccionTiendaPopulares__juegos__portada {
                @include alto-ancho(319px, 213px);
                grid-column: 4/9;
                grid-row: 2/11;
            }
            .seccionTiendaPopulares__juegos__info1,
            .seccionTiendaPopulares__juegos__info2 {
                grid-column: 2/12;
                grid-row: 15/29;
                @include alto-ancho(100%, 100%);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h2 {
                    font-size: 2.5rem;
                }
                .boton {
                    grid-row: 24/26;
                    margin-top: 0rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    /* TIENDA MARCAS */

    .modal-content {
        // height: 90vh;
        .modal-body {
            height: 100%;
            width: 80vw;
            div:nth-child(1){
                width: 100%;
                height: 60vh;
                img {
                    @include alto-ancho(80%, 80%);
                }
            }
            div:nth-child(2) {
                height: 85vh;
                width: 100%;
            }
        }
    }

    /* TIENDA GENEROS */

    .tiendaGeneros {
        .tiendaGeneros__section {
            div {
                h3 {
                    font-size: 2.4rem;
                }
            }
        }
    }
    
}