/* NOTICIAS */

.noticias {
    .noticias__seccion {
        h1 {
            color: $color-terciario;
            margin: 3vh auto;
            text-shadow: $box-shadow gray;
        }
        .noticias__seccion__articulos {
            width: 100vw;
            margin: 0 auto;
            div {
                height: 40vh;
                width: 40vw;
                margin-bottom: 8rem;
                a {
                    @include alto-ancho(100%, 100%);
                }
                div {
                    height: 100%;
                    width: 80%;
                    margin: 0 auto;
                }
                img:hover {
                    animation: efectoNoticias 400ms ease both;
                }
            }
            div div img {
                @include alto-ancho(100%, 100%);
                background-color: #ddd;
                box-shadow: $box-shadow $color-terciario;
                object-fit: cover;
                border-radius: 1rem;
            }
            div h4 {
                overflow: hidden;
                text-transform: uppercase;
                font-size: 1.25rem;
                text-shadow: $box-shadow gray;
                width: 80%;
                margin: 2rem auto;
            }
        }
    }
}

.noticiasModal {
    height: 70vh;
    .noticiasModal__contenido {
        height: 100%;
        // column-count: 1;
        h4 {
            font-weight: 500;
            margin-bottom: 1rem;
        }
        p {
            display: block;
            text-indent: 40px;
            text-align: justify;
            line-height: 1.75rem;
            padding-bottom: 1rem;
        }
        ul {
            li {
                // list-style: disc;
                text-align: left;
                
            }
        }
    }
}  



@keyframes efectoNoticias {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
        box-shadow: $box-shadow-animacion $color-terciario;
    }
}
