/* SOBRE NOSOTROS */

/* Segunda Seccion */

.sobreNosotros__seccion {
    width: 70vw;
    margin: auto;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(17, 100px);
    .sobreNosotros__seccion__contenedor {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 1fr);
        div:hover {
            animation: efectoNosotros 600ms ease both;
        }
    }
    .sobreNosotros__seccion__contenedor:nth-child(1) img,
    .sobreNosotros__seccion__contenedor:nth-child(2) img,
    .sobreNosotros__seccion__contenedor:nth-child(3) img {
        @include alto-ancho(100%, 100%);
        background-color: #ddd;
        box-shadow: 2px 2px 5px black;
        border-radius: 1rem;
    }
    .sobreNosotros__seccion__contenedor:nth-child(1) div,
    .sobreNosotros__seccion__contenedor:nth-child(2) div,
    .sobreNosotros__seccion__contenedor:nth-child(3) div {
        background-color: #eee;
        box-shadow: 2px 2px 9px black;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
    }
    .sobreNosotros__seccion__contenedor:nth-child(1) {
        grid-column: 1/13;
        grid-row: 2/7;
        img {
            grid-column: 1/9;
            grid-row: 1/10;
        }
        div {
            grid-column: 7/13;
            grid-row: 6/11;
        }
    }
    .sobreNosotros__seccion__contenedor:nth-child(2) {
        grid-column: 1/13;
        grid-row: 7/12;
        img {
            grid-column: 5/13;
            grid-row: 1/10;
        }
        div {
            grid-column: 1/7;
            grid-row: 6/11;
            z-index: 9999;
        }
    }
    .sobreNosotros__seccion__contenedor:nth-child(3) {
        grid-column: 1/13;
        grid-row: 12/17;
        img {
            grid-column: 1/9;
            grid-row: 1/10;
        }
        div {
            grid-column: 7/13;
            grid-row: 6/11;
        }
    }
}


@keyframes efectoNosotros {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
        box-shadow: $box-shadow-animacion;
    }
}
