/* TIENDA MARCAS */

.seccionTiendaMarcas {
    margin-bottom: 4rem;
    .seccionTiendaMarcas__logo {
        width: 15vw;
        margin: auto;
        img {
            width: 100%;
            margin: 3rem 0rem;
        }
    }
}

/* Modal */

.modal-content {
    height: 70vh;
    .modal-body {
        height: 100%;
        div:nth-child(1) {
            @include alto-ancho(55vh, 30%);
            margin: 0 auto;
            img {
                @include alto-ancho(80%, 80%);
            }
            div {
                margin: 0 auto;
                .boton {
                    @include boton-base($color-compras, $color-secundario);
                    width: 100%;
                }
                .boton:hover {
                    @include boton-base($color-secundario, $color-compras);
                }
            }
        }
        div:nth-child(2) {
            @include alto-ancho(55vh, 70%);
            justify-content: space-around;
            .parrafoPopulares {
                text-align: left;
            }
        }
    }
}  

